<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-classpath lib\apt-jelly\apt-jelly-core.jar;lib\apt-jelly\apt-jelly-freemarker.jar;lib\freemarker\freemarker.jar;lib\highway\highway-core.jar;lib\highway\highway-tools.jar -s gen/src -factory net.sf.jelly.apt.freemarker.FreemarkerProcessorFactory -Atemplate=templates\valueoject.java.ftl -Anet.sf.jelly.apt.decorations.DeclarationDecorator=org.highway.vogen.HighwayDeclarationDecorator -d bin/ ${container_loc}/*Def.java"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/Frisco_poc}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="R:\jdk1.5\bin\apt.exe"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
